@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --dark: #34495e;
    --light: #ffffff;
    --welcome: #0abf30;
    --error: #e24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--dark);
} */

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background: var(--bg-black-100);
}

html::-webkit-scrollbar-thumb {
    background: var(--skin-color);
    border-radius: 10px;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


/* preloader */

@keyframes ani01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
    z-index: 1099;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}
.preloader.loaded{
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: -99;
}

.preloader .loader{
    height: 30px;
    width: 30px;
    border: 2px solid #1acc8d;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: ani01 2s linear infinite;
}

.active{
    color: var(--skin-color);
}

/* //section */

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    /* width: fit-content; */
    display: block;
    padding: 0 30px;
    padding-left: 270px;
    opacity: 1;
    /* position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden; */
    /* transition: all 0.3s ease; */
    /* border: 1px solid red; */

}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    /* animation: slidesection 1s ease; */
}

/* @keyframes slidesection {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0%);
    }
} */

.hidden {
    display: none !important;
}


.padd-15 {
    padding-left: 35px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700px;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;

    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* aside  */
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
    /* display: none; */
}

.aside .logo {
    position: absolute;
    top: 60px;
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 30px 0;
    border-bottom: 1px solid var(--bg-black-50);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside .logo .imgbx {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-left: -20px;
    margin-bottom: 10px; */
    display: none;
}

.aside .logo .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside .logo a {
    color: var(--text-black-900);
    font-family: 300;
    /* margin: 15px 25px; */
    font-size: 25px;
    text-align: center;
}

.aside .logo a span {
    color: var(--skin-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 22px;
    /* margin-left: -14px; */
    text-align: center;

}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 40px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a:hover {
    /* border-radius: 10px;
    background-color: var(--skin-color);
    color: #ffffff; */
    color: var(--skin-color);
}

.aside .nav li a i {

    margin-right: 15px;
}

/* home  */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home-info p{
    text-align: justify;
    font-size: 16px;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700px;
    color: var(--skin-color);
}



h3.my-profession {
    font-size: 30px;
    margin: 15px 0;

}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img {
    margin: auto;
    /* border-radius: 15px; */
    /* height: 450px; */
    /* width: 410px; */
    width: 100%;
    /* border: 4px solid var(--skin-color); */
    /* padding: 4px; */
}


/* about  */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}


.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {

    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-700);
    top: -40px;
    font-weight: 400;
    line-height: 40px;

}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* services  */
.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #ffffff;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* portfolio */
.portfolio .container {
    padding-bottom: 40px;
}

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
    width: fit-content;

}

.portfolio .portfolio-heading i{
    font-size: 20px;
    margin-left: 1%;
    color: var(--text-black-700);
    margin-top: 3px;
}

.portfolio .portfolio-heading i.hidden{
    display: none;
}

.portfolio .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
    filter: grayscale(0);
    transition: all 0.6s ease;
}

.portfolio .portfolio-item-inner .portfolio-img:hover img {
    filter: grayscale(100%);
    transform: scale(1.02);
}

.portfolio .portfolio-item-inner .portfolio-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    opacity: 0;
}

.portfolio .portfolio-item-inner .portfolio-img:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.portfolio .portfolio-item-inner .portfolio-img .overlay h4 {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    transform: translateX(30px);
    transition: all 0.6s ease;
}

.portfolio .portfolio-item-inner .portfolio-img .overlay .btn-visit {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 30px;
    transform: translateX(30px);
    transition: all 0.6s ease;
}

.portfolio .portfolio-item-inner .portfolio-img .overlay:hover .btn-visit {
    transform: translateX(0);
}

.portfolio .portfolio-item-inner .portfolio-img .overlay .btn-visit:hover {
    transform: scale(1.02);
}

.portfolio .portfolio-item-inner .portfolio-img .overlay:hover h4 {
    transform: translateX(0);
}

/* CONTACT  */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item h4 a {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-info-item p a {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-info-item .icon .fab {
    font-size: 30px;
    color: var(--skin-color);
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #1acc8d;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #2be4a2;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

@media (max-width: 1199px) {
    .section .container {
        padding-top: 70px;
    }

    .section{
        padding: 0 30px;
    }

    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    .about .about-content .personal-info .info-item p span {
        display: inline-block;
        margin-left: 0;
    }
}

@media (max-width: 991px) {


    .section {
        position: relative;
    }

    .section.active {
        animation: none;
    }

    .aside .logo {
        top: 20px;
    }

    .aside .logo .imgbx {
        /* margin-left: -15px; */
    }


    .aside .logo a {
        color: var(--text-black-900);
        font-family: 200;
        /* padding: 15px 20px; */
        font-size: 22px;
    }

    .aside .logo a span {
        /* margin-left: -34px; */
        font-size: 20px;
        
    }

    .aside .logo a span {
        color: var(--skin-color);
        font-weight: 600;
    }

    .aside .logo .imgbx {
        display: block;
    }

    .aside .nav {
        margin-top: 250px;

    }

    .portfolio .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact .contact-info-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .section.open {
        left: 0;
    }
}

@media (max-width: 767px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .service .service-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .personal-info,
    .about .about-content .personal-info .info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .section.open {
        left: 0;
    }
}


@media (max-height: 560px) {

    .portfolio .portfolio-item-inner .portfolio-img .overlay{
        display: none !important;
        visibility: hidden;
    }

    .portfolio .portfolio-item-inner .portfolio-img:hover img {
        filter: grayscale(0);
    }

    .portfolio .portfolio-item-inner .portfolio-img:hover .overlay {
    display: none !important;
        visibility: hidden;
}

    .aside .nav {
        margin-top: 260px;
    
    }
    
    .aside .nav li {
        margin-bottom: 10px;
        display: block;
    }
}


@media (max-width: 390px) {

    .section{
        padding: 0 15px;
    }

    .padd-15 {
        padding-left: 20px;
        padding-right: 15px;
    }

    .portfolio .portfolio-item-inner .portfolio-img .overlay{
        display: none !important;
        visibility: hidden;
    }

    .portfolio .portfolio-item-inner .portfolio-img:hover img {
        filter: grayscale(0);
    }    
    .portfolio .portfolio-item-inner .portfolio-img:hover .overlay {
    display: none !important;
        visibility: hidden;
}
    
    .aside .logo .imgbx {
        /* margin-left: -8px; */
    }
    .aside .logo a span {
        /* margin-left: -28px; */
    }
}


.notifications {
    position: fixed;
    top: 50px;
    right: 20px;
    font-family: "Poppins", sans-serif;
    z-index: 9999;
  }
  .notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
  }
  .notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
  }
  @keyframes show_toast {
    0% {
      transform: translateX(100%);
    }
    40% {
      transform: translateX(-5%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  .notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
  }
  @keyframes hide_toast {
    0% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(calc(100% + 20px));
    }
  }
  .toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
  }
  @keyframes progress {
    100% {
      width: 0%;
    }
  }
  .toast.sended::before,
  .btn#sended {
    background: var(--welcome);
  }
  .toast.details::before,
  .btn#details {
    background: var(--error);
  }
  .toast.invalidemail::before,
  .btn#invalidemail {
    background: var(--info);
  }
  .toast .column i {
    font-size: 1.75rem;
  }
  .toast.sended .column i{
    color: var(--welcome);
  }
  .toast.invalidemail .column i {
    color: var(--info);
  }
  .toast.details .column i {
    color: var(--error);
  }
  .toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
  }
  .toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
  }
  .toast i:last-child:hover {
    color: var(--dark);
  }
  .buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  @media screen and (max-width: 530px) {
    .notifications {
      width: 95%;
    }
    .notifications .toast {
      width: 100%;
      font-size: 1rem;
      margin-left: 20px;
    }
    .buttons .btn {
      margin: 0 1px;
      font-size: 1.1rem;
      padding: 8px 15px;
    }
  }
  /* toast code */
  
  .screen{
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .screen {
      background-color: #34a2fa;
      position: fixed;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .screen div {
      padding: 20px;
      border: 1px solid white;
      border-radius: 10px;
    }
  
    .screen div > :nth-child(1) {
      color: white;
      font-size: 15px;
      font-weight: 900px;
      margin: 5px;
      text-align: center;
    }
  
    .screen div > :nth-child(2) {
      color: white;
      font-size: 13px;
      font-weight: 500px;
      margin: 5px;
      text-align: center;
    }
  
    .screen div > :nth-child(3) {
      color: white;
      font-size: 12px;
      font-weight: 400px;
      margin: 5px;
      margin-bottom: 20px;
      text-align: center;
      font-style: italic;
      text-decoration: underline;
    }
  
    .screen div > :nth-child(4) {
      color: white;
      font-size: 12px;
      font-weight: 400px;
      margin: 5px;
      text-align: center;
    }
  }
  
